@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
    --clr-white: #FFFFFF;
    --clr-white-light: #fff;
    --clr-black: #000000;
    --clr-black-charter-back:#1D1D1D;
    --clr-black-light: #303030;
    --clr-gray: #6c757d;
    --clr-gray-black: #999;
    --clr-gray-i-element:#555555;
    --clr-gray-member: #F9F9F9;
    --clr-red: #f13f3f;
    --clr-red-title:#EE0E39;
    --clr-red-btn: #db2d2e;
    --transition-default: all .3s ease-in-out;
    --font-family-stem: "Assistant", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-sans: "Open Sans", sans-serif;
}

.banner-area {
    height: 40vh;
    width: 100%;
    background: url('/assets/images/about-menu.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
}


.banner-area:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.sc-ttl-cont {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: var(--clr-white);
}
.cont-list {
    font-weight: 600;
    font-size: 18px;
    margin: 0 5px;
    color: var(--clr-white);
}
.container-area, .container-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-nav-item {
    flex-direction: row;
    padding: 0;
    position: relative;
    z-index: 2;
}
/* ------------------------------ */
.title-contact-page,.title-question-page
{
    font-family:var(--font-family-roboto);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    position: relative;
}
.title-contact-page::after
{
    content:"";
    height: 3px;
    width: 100%;
    background: var(--clr-red-btn);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.title-question-page::after
{
    content:"";
    height: 3px;
    width: 100%;
    background: var(--clr-red-btn);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.subtitle-contact-page,.subtitle-question-page
{
    font-family: var(--font-family-roboto);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4vh;
    text-align: center;
}
.section-contact-header-container
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.contact-map
{
    width: 520px;
    height: 430px; 
}
.section-contact-info-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 430px;
    background: var(--clr-black-charter-back);
}
.contact-title-main-info
{
    font-family: var(--font-family-roboto);
    font-size: 26px;
    font-weight: 600;
    margin-left: 8vh;
    color: var(--clr-white);
}
.contact-info-list a
{
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;

color: var(--clr-white);

}
.fa-contac
{
    color:var(--clr-red-btn);
    margin-right: 15px;
    margin-left: 5vh;
}
.work-schedule
{
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 500;
    margin-left: 4.5vh;
    color: var(--clr-white);
}
/* ------------------------- */
.title-question-page
{
    margin-top: 8vh;
}
.section-header-ask-question-banner
{
    background: url('/assets/partners/banner-car.png');
    background-size: cover;
    background-color:#000000;
    height: 85vh;
}
.title-question-page,.subtitle-question-page
{
    color: var(--clr-white);
}
.section-ask-question-form
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 17vh; */
}
.form-ask-question
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    width: 55%;
}
.ask-question-form-title
{
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
   
    color: var(--clr-white);
}
.ask-question-form-input
{
    padding: 10px 0px 10px 8px;
    margin-top: 18px;
    border: none;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 14px;
    color: var(--clr-black);
}
.ask-question-form-checkbox
{
    margin: 0px;
    width: 10%;
}
.ask-ques-check-tit
{
    margin: 0px;
}
.form-ask-question span
{
    color: var(--clr-red-btn);
}
.section-form-btn
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.section-form-btn span
{
    font-family: var(--font-family-sans);
    font-size: 14px;
    font-weight: 600;
}
.btn-form
{
    font-family: var(--font-family-sans);
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    color: var(--clr-white);
    border: 4px solid var(--clr-red-btn);
    text-align: center;
    padding: 5px 35px;
    cursor: pointer;
    transition: .5s;
}
.btn-form:hover
{
    border-radius: 15px;
    background: var(--clr-red-btn);
}