@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
    --clr-white: #FFFFFF;
    --clr-white-light: #fff;
    --clr-black: #000000;
    --clr-black-light: #303030;
    --clr-gray: #6c757d;
    --clr-gray-black: #999;
    --clr-gray-member: #F9F9F9;
    --clr-red: #f13f3f;
    --clr-red-btn: #db2d2e;
    --transition-default: all .3s ease-in-out;
    --font-family-stem: "Assistant", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-sans: "Open Sans", sans-serif;
}

.banner-area {
    height: 40vh;
    width: 100%;
    background: url('/assets/images/about-menu.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.banner-area:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.section-about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8vh 0 10vh 0;
}

.sc-ttl-cont {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: var(--clr-white);
}

.cont-list {
    font-weight: 600;
    font-size: 18px;
    margin: 0 5px;
    color: var(--clr-white);
}

.section-about-container-title {
    text-align: left;
    font-size: 40px;
    color: var(--clr-black-light);
}

.container-area, .container-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-nav-item {
    flex-direction: row;
    padding: 0;
    position: relative;
    z-index: 2;
}

.section-gallery-title
{
    font-family: var(--font-family-roboto);
    font-size: 33px;
    font-weight: 700;
    margin-top: 7vh;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.section-gallery-title::after
{
    content:"";
    height: 3px;
    width: 100%;
    background: var(--clr-red-btn);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section-gallery-subtitle
{
    font-family:var(--font-family-roboto);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}
.section-about-company
{
    padding: 4vh 0vh 20vh;
    background: url('/assets/images/porsche-normal.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section-about-company::after
{
    content: "";
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.60;
}
.section-about-company-title
{
    position: relative;
    font-family: var(--font-family-roboto);
    font-size: 36px;
    font-weight: 700;
    color: var(--clr-white);
    padding-top: 10vh;    
    text-align: center;
    z-index: 1;
}
.section-form-container
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.section-form-container {
    position: relative;
}
.section-form-container p {
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 16px;
    padding: 35px;
    border: 3px solid var(--clr-red-btn);
    color: var(--clr-white);
    position: relative;
    background: transparent; 
    border-radius: 50px 0 50px 0;
}
.gallery-container {
    padding-top: 30px;
    padding-bottom: 45px;
}
.grid-box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.first-box,.second-box
{
   text-align: center;
}

.gallery-img {
    padding: 0px 5px;
}

/* ------------------ */
.section-partners-container
{
    background: url('/assets/partners/banner-car.png');
    background-size: cover;
    background-color:#000000;
    height: 95vh;
}
.partners-box-first,.partners-box-second
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5vh 0vh 0vh 0vh;
}

.partners-box-first-img,.partners-box-second-img
{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 6vh;
    margin-left: 6vh;
    background: var(--clr-black-charter-back);
}
.section-partners-title
{
    font-family:var(--font-family-roboto);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--clr-white);
    padding-top: 6vh;
    position: relative;
    display: inline-block;
}
.section-partners-title::after
{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: var(--clr-red-btn);
}
.logo-partners
{
    width: 230px;
    height: 185px;
}
.title-company
{
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    margin: 15px;
    color: var(--clr-white);
}

@media screen and (max-width: 450px) {
    .section-about-company {
        padding: 4vh 0vh 10vh;
    }

    .section-about-company-title {
        padding-top: 5vh;
    }

    .gallery-img {
        padding: 0vh;
    }
}