:root {
    --clr-white: #FFFFFF;
    --clr-white-light: #fff;
    --clr-black: #000000;
    --clr-black-light: #303030;
    --clr-gray: #6c757d;
    --clr-gray-black: #999;
    --clr-gray-member: #F9F9F9;
    --clr-red: #f13f3f;
    --clr-red-btn: #db2d2e;
    --transition-default: all .3s ease-in-out;
    --font-family-stem: "Assistant", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-sans: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-style: normal;
    font-family: var(--font-family-roboto);
    margin: 15px 0;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
    font-size: 25px;
}
html
{
    scroll-behavior: smooth;
}
body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

.banner-area {
    height: 40vh;
    width: 100%;
    background: url('/assets/images/about-menu.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.banner-area:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.section-about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8vh 0 10vh 0;
}

.sc-ttl-cont {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: var(--clr-white);
}

.cont-list {
    font-weight: 600;
    font-size: 18px;
    margin: 0 5px;
    color: var(--clr-white);
}

.section-about-container-title {
    text-align: left;
    font-size: 40px;
    color: var(--clr-black-light);
}

.container-area, .container-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-nav-item {
    flex-direction: row;
    padding: 0;
    position: relative;
    z-index: 2;
}
.swiper-news-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.section-about-news-title
{
    font-family: var(--font-family-roboto);
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.section-about-news-title::after
{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: var(--clr-red-btn);
}
.section-about-news-subtitle
{
    font-family:var(--font-family-roboto);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.swiper-3 {
    width: 100%;
    height: auto;
    position: relative;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sw-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.date-sw-slide {
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    color: var(--clr-red-btn);
    margin-bottom: 10px;
}

.text-sw-slide {
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: var(--clr-black-light);
}

/* Стилі для кнопок навігації */
.swiper-button-next,
.swiper-button-prev {
    color: var(--clr-red-btn);
    background-color: var(--clr-white);
    padding: 10px;
    border: 3px solid var(--clr-red-btn); 
    border-radius: 3px; 
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
    height: 30px; 
    width: 30px;
}
/* Кнопки розміщуються під текстом і розсунуті */
.swiper-button-next {
    position: static;
    float: right;
}
.swiper-button-prev {
    position: static;
    float: left;
}
/* --------------------------- */
.backround-images
{
    background: url('/assets/images/error-baner.png'); 
    background-size: cover;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
   
}
.section-faq-title
{
    font-family: var(--font-family-roboto);
    font-size: 36px;
    font-weight: 700;
    margin-top: 6vh;
    margin-bottom: 25px;
    text-align: center;
    color: var(--clr-white);
}
.section-faq-subtitle
{
    font-family:var(--font-family-roboto);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    color: var(--clr-white);
}
.title-hidden
{
    font-family: var(--font-family-sans);
    font-size: 15px;
    font-weight: 700;
    margin-right: 20vh;
    text-align: left;
    color: var(--clr-white);
}
.header-hidden-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-bottom: 2px solid var(--clr-white);
}
.hd-cont-hidden
{
    margin-bottom: 50px;
}
.main-hidden-container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content {
    font-family: var(--font-family-sans);
    font-size: 15px;
    font-weight: 600;
    color: var(--clr-white-light);
    line-height: 20.13px;
    text-align: left;
    max-height: 0; 
    overflow: hidden; 
    margin-top: 10px;
    margin-bottom: 10px;
    transition: max-height 0.5s ease; 
}
.according-bth
{
    
    border-radius: 50%;
    border: 2px solid var(--clr-white);
    cursor: pointer;
    text-align: center;
    padding: 1px 10px;
    font-size: 30px;
    font-weight: 700;
    color: var(--clr-white);
    margin-left: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
}
.according-bth.active {
    transform: rotate(135deg);
    color: var(--clr-red-btn); 
}
.according-psevdo-btn
{
    font-family:var(--font-family-sans);
    font-size: 13px;
    font-weight: 700;
    padding: 8px 30px;
    color: var(--clr-white);
    border: 2px solid var(--clr-red-btn);
    text-align: center;
    transition: .5s;
}
.according-psevdo-btn:hover
{
    background: var(--clr-red-btn);
}