:root {
    --clr-white: #FFFFFF;
    --clr-white-light: #fff;
    --clr-black: #000000;
    --clr-black-charter-back:#1D1D1D;
    --clr-black-light: #303030;
    --clr-gray: #6c757d;
    --clr-gray-black: #999;
    --clr-gray-i-element:#555555;
    --clr-gray-member: #F9F9F9;
    --clr-red: #f13f3f;
    --clr-red-title:#EE0E39;
    --clr-red-btn: #db2d2e;
    --transition-default: all .3s ease-in-out;
    --font-family-stem: "Assistant", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-sans: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-style: normal;
    font-family: var(--font-family-roboto);
    margin: 15px 0;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
    font-size: 25px;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none; /* Цей рядок не впливає на <li>, можливо, варто застосувати це до <a> */
}

/* Оформлення для секції помилки */
.section-error-area {
    height: 85vh;
    width: 100%;
    background: url('/assets/images/error-baner.png') no-repeat center center;
    background-size: cover;
}

/* Контейнер для медіа */
.section-media-container {
    display: flex;
    flex-direction: column;
}

/* Стиль заголовку */
.media-title {   
    position: relative;
    font-family: var(--font-family-roboto);
    font-size: 11rem;
    font-weight: 700;
    color: var(--clr-red-btn);
    margin-top: 10vh;
    margin-left: 15vh;
}

/* Псевдоелемент для заголовку */
.media-title::after {
    content: "404";
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 10.6rem;
    color: white;
}

/* Оформлення текстової інформації */
.media-text-info {
    font-family: var(--font-family-sans);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 15vh;
    color: var(--clr-white);
}

.media-text-info span {
    color: var(--clr-red-btn);
}

/* Стиль тексту */
.media-text {
    font-family: var(--font-family-sans);
    font-size: 21px;
    font-weight: 500;
    margin-left: 15vh;
    margin-bottom: 5vh;
    color: var(--clr-white);
}

/* Кнопка-посилання */
.media-psevdo-btn {
    border: 4px solid var(--clr-red-btn);
    padding: 10px 30px;
    margin-left: 15vh;
    font-family: var(--font-family-roboto);
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-white);
    text-transform: uppercase;
    transition: .5s;
}

.media-psevdo-btn:hover {
    border-radius: 15px;
    background: var(--clr-red-btn);
}
