body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Portfolio Info */
.portfolio-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.view-img {
    width: 40%;
    border-radius: 15%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.view-img:hover {
    transform: scale(1.1);
}

.view-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007bff;
    display: inline-block;
}

.view-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.view-item {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #555;
}

.view-item b {
    color: #007bff;
}

/* Project Section */
.project-section {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1.5rem;
}

.prots-contentg p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.prots-contentg ul {
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    color: #555;
}

.prots-contentg ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

strong {
    color: #007bff;
}